{% load static %}
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="https://mediaprocessor.websimages.com/fit/1920x1920/camillusmedhaven.webs.com/photos/21.jpg" type="image/x-icon">
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet" />
    {% block javascript %}{% endblock %}
  </head>
  <body>
    <header>{% block header %}{% endblock %}</header>
    {% include 'core/includes/messages.html' %}
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {% block footer %}
      {% include 'cm_portal/includes/footer.html' %}
    {% endblock %}
    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </body>
</html>
