body {
  background-color: lightgreen;
}

body > .container, #avatar {
  background-color: whitesmoke;
}

table, .text-center, .social-container, #hd-form {
  background-color: white;
}

#user, #cart {
  padding: 20px;
}

.product-img {
  display: block;
  padding: 10px;  
  width: 799px;
  height: 640px;
}
